{{#if session}}
        {{>header ordersButton="true" cartButton="true"}}
    <div class="container w-100 d-flex flex-column justify-content-center">
        {{>productList}}
    </div>
{{else}}
    {{>login}}
{{/if}}

