<div class="container w-75 p-3" style="background-color: lightgrey">
    <form>

    <div class="container">
        <h2>Centro de Mensajes:</h2>
        <h3 id="compresion"></h3>
        <label for="email">Ingrese su e-mail:</label>
        <input type="email" class="form-control" name="email" id="email" required>

        <label for="userName">Ingrese su Nombre:</label>
        <input type="userName" class="form-control" name="userName" id="userName" required>

        <label for="userSurname">Ingrese su Apellido:</label>
        <input type="userSurname" class="form-control" name="userSurname" id="userSurname" required>

        <label for="userAge">Ingrese su Edad:</label>
        <input type="userAge" class="form-control" name="userAge" id="userAge" required>

        <label for="userNickname">Ingrese su Alias:</label>
        <input type="userNickname" class="form-control" name="userNickname" id="userNickname" required>

        <label for="avatar">Ingrese su Foto: </label>
        <input type="avatar" class="form-control" name="avatar" id="avatar" required>
        <span class="text-warning bg-dark">El vinculo debe tener este formato: https://cdn2.iconfinder.com/data/icons/flat-icons-19/512/Sclssors.png</span>
        
    </div>
    <div class="container">
        <label for="text">Escriba su mensaje</label>
        <input type="text" class="form-control" name="text" id="text" required>
        <button type="submit" name="enviar" id="btnEnviar" class="btn-danger">Enviar</button>
        <ul class="container w-75 p-3" id="mensajes">

        </ul>
    </div>
    </form>
</div>