
<h3>Aca iria un selector de contactos para seleccionar el chat</h3>
<form>
    <div class="container">
        <h2>Centro de Mensajes:</h2>
        <label for="email">Ingrese su e-mail:</label>
        <input type="email" class="form-control" name="email" id="email" value={{username}} disabled>
    </div>
    <div class="container">
        <label for="text">Escriba su mensaje</label>
        <input type="text" class="form-control" name="text" id="text" required>
        <button type="submit" name="enviar" id="btnEnviar" class="btn-danger">Enviar</button>
        <ul class="container w-75 p-3" id="mensajes"></ul>
    </div>
</form>