<div class="w-100 d-flex justify-content-center">
 <form class="w-75 p-2 d-flex flex-column justify-content-between">
<h2>Complete el Formulario para añadir productos</h2>
<div class="d-flex w-100" style="gap:1rem">
  <div class="col-md-5">
    <label for="title" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="title" name="title" required>
   
  </div>
  <div class="col-md-2">
    <label for="price" class="form-label">Precio</label>
    <input type="number" class="form-control" id="price" name="price" required>
  </div>
</div>
  <div class="col-md-8">
    <label for="img" class="form-label">Foto Url</label>
    <input type="url" class="form-control" id="img" name="thumbnail" required>
    <div id="urlHelp" class="form-text">El vinculo debe tener este formato: https://cdn2.iconfinder.com/data/icons/flat-icons-19/512/Sclssors.png</div>
  </div>
<br>

  <button type="button" class="btn btn-success" id="addProduct">Agregar Producto</button>
  <a href="/api/products-test"> Ver tabla de productos aleatorios </a>
</form>
</div>