<section class="p-4 bg-secondary">
	<h2 class="text-primary">Productos</h2>
	<table class="table table-dark">
		  <thead>
    <tr>
      <tr class="table-dark">
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">Thumbnail</th>
  </tr>
    </tr>
  </tbody>
	{{#each data}}
			<tr>
				<th>{{name}}</th>
				<th>{{price}}</th>
				<th><img src={{thumbnail}} alt="" style="height: 150px;"></th>
			</tr>
			{{/each}}
		</tbody>
		<tbody id="table-products"></tbody>
	</table>
</section>